{% extends "base.html" %}
{% load static %}
{% block title %}
Producto
{% endblock title %}

{% block header_title %}
Producto
{% endblock header_title %}

{% block content %}
<div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">Listado de productos</h3>
        </div>
        <div class="col-lg-12 col-5 text-right mb-3">
          <form action="{% url 'productos' %}" method="GET">
            {{ formulario }}
            <button class="btn bg-neutral w-20 my-4 mb-2">Buscar</button>
          </form>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="item">Item</th>
                <th scope="col" class="sort" data-sort="precio">Precio</th>
                <th scope="col" class="sort" data-sort="local">Local</th>
                <th scope="col" class="sort" data-sort="stock">Stock</th>
              </tr>
            </thead>
            <tbody class="list">
              {% if productos %}
                {% for product in productos %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <div class="media-body">
                          <span class="name mb-0 text-sm">{{ product.item }}</span>
                        </div>
                      </div>
                    </th>
                    <td>
                      $ {{ product.precio }}
                    </td>
                    <td>
                      {{ product.local }}
                    </td>
                    <td>
                      {{ product.stock }}
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr colspan="4">
                  <td><strong>No se encuentran productos con esa búsqueda.</strong></td>
                </tr>
                {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}